/**/
/* Font CSS */
@font-face {
  font-family: Unageo;
  src: url("../assets/font/unageo/Unageo.ttf") format("truetype");
  font-weight: 1200;
  font-style: normal;
}
@font-face {
  font-family: Host_Grotesk;
  src: url("../assets/font/host_grotesk/HostGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceArgon;
  src: url("../assets/font/monaspace/MonaspaceArgon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceXenon;
  src: url("../assets/font/monaspace/MonaspaceXenon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color CSS */
* {
  --primary: #1dadc1;
  --primary-content: #000000;
  --primary-dark: #168595;
  --primary-light: #31cbe0;

  --secondary: #5bc11d;
  --secondary-content: #000000;
  --secondary-dark: #469516;
  --secondary-light: #73e031;

  --background: #ecf2f3;
  --foreground: #fafcfc;
  --border: #d8e4e6;

  --copy: #1e2d2f;
  --copy-light: #4f777d;
  --copy-lighter: #739fa6;

  --success: #1dc11d;
  --warning: #c1c11d;
  --error: #c11d1d;
  --success-content: #e2fbe2;
  --warning-content: #000000;
  --error-content: #fbe2e2;
}
/* Main CSS */
* {
  font-family: Host_Grotesk;
  color: var(--primary-content);
  scroll-behavior: smooth;
}
.Card {
  border: #000000 solid 0px;
  border-radius: 15px;
  background-color: var(--foreground);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sections CSS */
#Section-Container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.Section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  height: 60px;
}

.Header-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: #000000 solid 0px;
  flex-grow: 0;
}

.Header-Container ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.Header-Container a {
  text-decoration: none;
  color: inherit;
}

#Header-Logo-Container {
  margin-right: auto;
}

#Header-Logo-Container #Header-Logo {
  width: 30px;
}

#Header-Switch-Container {
  margin-left: auto;
}

/* Styles for the navigation list */

#Header-Logo-Container,
#Header-Switch-Container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.active {
  font-weight: bold;
}

#Header-Switch-Container {
  position: relative;
}

/* Logo */

.LogoMe-Container img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: var(--copy) solid 2px;
}

/* Hero Sektion */
#Hero-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Hero-Content-Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Hero-Grid-Item {
  padding: 5px;
}

.Hero-Grid-Item a {
  margin: 0 5px;
  text-decoration: none;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #Hero-Content-Grid {
    flex-direction: column;
  }
}

/* About Me Section */
#AboutMe-Section {
}
#AboutMe-Content-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#AboutMe-Grid-Item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Skills Section */
#Skills-Container {
  padding-top: 15vh;
  padding: 20vw;
}

/* Project Section */
#Project-Card-Container-Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Default styles for average screens */
#Project-Card-Container-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set up 3 columns */
  grid-template-rows: repeat(2, 1fr); /* Set up 2 rows */
  gap: 5px; /* Optional, for spacing between items */
}

.Project-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 15px;
  margin: 10px;
  overflow: hidden;
}
.Project-Card h3 {
  margin: 0;
  padding-bottom: 10px;
  align-self: flex-start;
}

.Project-Card-TechStack {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.Project-ProgrammingLanguage-Display {
  background-color: #f1f1f1;
  border: none;
  border-radius: 15px;
  color: #333;
  font-size: 0.8em;
  padding: 5px 15px;
  text-transform: uppercase;
  white-space: nowrap;
}

.Project-ProgrammingLanguage-Display {
  background-color: #f1f1f1;
  border: none;
  border-radius: 15px;
  color: #333;
  font-size: 0.8em;
  padding: 5px 15px;
  text-transform: uppercase;
  white-space: nowrap;
}

.Project-ProgrammingLanguage-Display#Python {
  background-color: #00008b;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#JavaScript {
  background-color: #ffd700;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#Java {
  background-color: #8b4513;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#Cpp {
  background-color: #a8a9ad;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#Ruby {
  background-color: #9b111e;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#Go {
  background-color: #87ceeb;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#Rust {
  background-color: #d2691e;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#Swift {
  background-color: #ffa500;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#PHP {
  background-color: #b57edc;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#CSharp {
  background-color: #7851a9;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#CSS {
  background-color: #ff69b4;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#HTML {
  background-color: #b22222;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#JSX {
  background-color: #00fa9a;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#TSX {
  background-color: #008080;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#Django {
  background-color: #228b22;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#TypeScript {
  background-color: #2a52be;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#React {
  background-color: #7df9ff;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#Angular {
  background-color: #c41e3a;
  color: #ffffff;
}

.Project-ProgrammingLanguage-Display#Vuejs {
  background-color: #32cd32;
  color: #000000;
}

.Project-ProgrammingLanguage-Display#Nodejs {
  background-color: #808000;
  color: #ffffff;
}

/* Project Card Viewport Sizing */

/* Styles for smaller screens (up to 600px) */
@media screen and (max-width: 600px) {
  #Project-Card-Container-Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Set up 3 columns */
    grid-template-rows: repeat(6, 1fr); /* Set up 2 rows */
    gap: 5px; /* Optional, for spacing between items */
  }
}

/* Styles for medium screens (601px - 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  #Project-Card-Container-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Set up 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Set up 2 rows */
    gap: 5px; /* Optional, for spacing between items */
  }
}
/* Contact Section */
#Contact-Content-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#Contact-Grid-Items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Section */
#Footer-Content-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#Footer-Grid-Item {
  display: flex;
  justify-content: center;
  align-items: center;
}
