/**/
/* Font CSS */
@font-face {
  font-family: Unageo;
  src: url("../assets/font/unageo/Unageo.ttf") format("truetype");
  font-weight: 1200;
  font-style: normal;
}
@font-face {
  font-family: Host_Grotesk;
  src: url("../assets/font/host_grotesk/HostGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceArgon;
  src: url("../assets/font/monaspace/MonaspaceArgon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceXenon;
  src: url("../assets/font/monaspace/MonaspaceXenon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color CSS */
* {
  --primary: #1dadc1;
  --primary-content: #000000;
  --primary-dark: #168595;
  --primary-light: #31cbe0;

  --secondary: #5bc11d;
  --secondary-content: #000000;
  --secondary-dark: #469516;
  --secondary-light: #73e031;

  --background: #ecf2f3;
  --foreground: #fafcfc;
  --border: #d8e4e6;

  --copy: #1e2d2f;
  --copy-light: #4f777d;
  --copy-lighter: #739fa6;

  --success: #1dc11d;
  --warning: #c1c11d;
  --error: #c11d1d;
  --success-content: #e2fbe2;
  --warning-content: #000000;
  --error-content: #fbe2e2;
}
/**
/* Main CSS */
* {
  font-family: Host_Grotesk;
  color: var(--primary-content);
  scroll-behavior: smooth;
}

/* Sections CSS */
#Section-Container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
.Section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Hero Sektion */
#Hero-Section {
}
#Hero-Content-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#Hero-Content-Container {
}
#Hero-Button-Container {
}
