@import url(/src/css/App.css);
/* Font CSS */
@font-face {
  font-family: Unageo;
  src: url("../assets/font/unageo/Unageo.ttf") format("truetype");
  font-weight: 1200;
  font-style: normal;
}
@font-face {
  font-family: Host_Grotesk;
  src: url("../assets/font/host_grotesk/HostGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceArgon;
  src: url("../assets/font/monaspace/MonaspaceArgon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceXenon;
  src: url("../assets/font/monaspace/MonaspaceXenon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Hero-Button {
  color: var(--primary-content);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--primary);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
}

.Hero-Button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primary-dark);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.Hero-Button:hover {
  color: var(--primary-content);
}

.Hero-Button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.Hero-Button:hover:before {
  top: -30px;
  left: -30px;
}

.Hero-Button:active:before {
  background: var(--foreground);
  transition: background 0s;
}
