/**/
/* Font CSS */
@font-face {
  font-family: Unageo;
  src: url("../assets/font/unageo/Unageo.ttf") format("truetype");
  font-weight: 1200;
  font-style: normal;
}
@font-face {
  font-family: Host_Grotesk;
  src: url("../assets/font/host_grotesk/HostGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceArgon;
  src: url("../assets/font/monaspace/MonaspaceArgon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MonaspaceXenon;
  src: url("../assets/font/monaspace/MonaspaceXenon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color CSS */
* {
  --primary: #1dadc1;
  --primary-content: #000000;
  --primary-dark: #168595;
  --primary-light: #31cbe0;

  --secondary: #5bc11d;
  --secondary-content: #000000;
  --secondary-dark: #469516;
  --secondary-light: #73e031;

  --background: #ecf2f3;
  --foreground: #fafcfc;
  --border: #d8e4e6;

  --copy: #1e2d2f;
  --copy-light: #4f777d;
  --copy-lighter: #739fa6;

  --success: #1dc11d;
  --warning: #c1c11d;
  --error: #c11d1d;
  --success-content: #e2fbe2;
  --warning-content: #000000;
  --error-content: #fbe2e2;
}
.dark-mode {
  --primary: #1dadc1;
  --primary-content: #000000;
  --primary-dark: #168595;
  --primary-light: #31cbe0;

  --secondary: #5bc11d;
  --secondary-content: #000000;
  --secondary-dark: #469516;
  --secondary-light: #73e031;

  --background: #141e1f;
  --foreground: #1e2d2f;
  --border: #324a4e;

  --copy: #fafcfc;
  --copy-light: #d0dfe1;
  --copy-lighter: #92b5ba;

  --success: #1dc11d;
  --warning: #c1c11d;
  --error: #c11d1d;
  --success-content: #e2fbe2;
  --warning-content: #000000;
  --error-content: #fbe2e2;
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
  scroll-padding-top: 600px;
}
